<html>

  <head>
    <title>Доска</title>
      {% load static %}
      {% load index %}
    <link rel="stylesheet" type="text/css" href="{% static 'trello/css/main.css' %}">
  </head>

  <body>
    <header>
      <a id="trello" class="headerElem" href="{% url 'landing' %}">Trello</a>
      <div id="deskname" class="headerElem">
        Имя доски
      </div>
      <div id="nickname" class="headerElem">
        Имя пользователя
      </div>
    </header>
    <main>
        {% for id in card_ids %}
          <div class="card">
            <p>
              {{ cards|index:id }}
            </p>
              {% for task in tasks|index:id %}
                <div class="inside">
                  <div class="task">
                      {{ task }}
                  </div>
                  <div class="editButton">
                    ред.
                  </div>
                </div>
                  {% endfor %}
            <div class="addTaskButton">
              Добавить задание
            </div>
          </div>
        {% endfor %}
    </main>
    <footer>
      <a href="#">О нас</a>
      <a href="#">Новости</a>
      <a href="#">Помощь</a>
    </footer>
  </body>

</html>
