<html>

  <head>
    <title>Регистрация</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'trello/css/registration.css' %}">
  </head>

  <body>
    <header class="lbrown">
      <a id="trello" class="brown" href="{% url 'landing' 'trello' %}">Trello</a>
    </header>
    <main>
      <form action="{% url 'landing' 'main' %}">
        <p>
          Регистрация нового пользователя
        </p>
        <input class="regForm" placeholder="Электронная почта">
        <input class="regForm" placeholder="Пароль">
        <button class = "regForm gray" id="regButton" type="submit">
          Зарегистрироваться
        </button>
        <div id="login">
          <p id="haveAcc">
            Уже есть аккаунт?
          </p>
          <a id="loginButton" class="gray" href="{% url 'landing' 'main' %}">Войти</a>
        </div>
      </form>
    </main>
    <footer>
      <a href="#">О нас</a>
      <a href="#">Новости</a>
      <a href="#">Помощь</a>
    </footer>
  </body>

</html>
